.app {
  text-align: center;
}

.app .title {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: #6a78c5;
    color: #ffff;
    padding-top: 10px;
}

.appTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}

.app_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.app_body {
  background: #fff;
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #111111;
  min-width: 450px;
  max-width: 780px;
  background-color: #ffffff;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}


.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}

.new-todo, .edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toggle-all {
   width: 1px;
    height: 1px;
    border: none;
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom: 100%;
}

.todoInput .toggle-all + label {
  width: 60px;
    height: 34px;
    font-size: 0;
    position: absolute;
    top: 14px;
    left: -12px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.todoInput .toggle-all + label::after {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.main {
  padding: 0px;
  margin: 0px;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.view {
  display: flex;
}
.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}
.toggle {
  width: 40;
    width: 40px;
    text-align: center;
    /* height: 20px; */
    position: absolute;
    top: 0;
    bottom: 0px;
    appearance: none;
    margin: auto 0;
    border: none;
}
.toggle:focus {
  
}


.todo-list li label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #4d4d4d;
}

.remove {
  top: 0px;
  right: 10px;
  position: absolute;
  bottom: 2px;
  width: 41px;
  height: 31px;
  margin: auto 0;
  cursor: pointer;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
}

.todo-list li select.colorPicker {
  margin: 0px 10px;
  height: 24px;
  position: absolute;
  line-height: 26px;
  font-weight: 400;
  font-size: 17px;
  position: absolute;
  top: 0;
  right: 6%;
  bottom: 0;
  top: 24%;
  width: 124px; 
}

.todo-list li select.colorPicker option {
  font-weight: 700;
}

.todo-list li .view select.colorPicker option[value='green'] {
  color: green;
}

.todo-list li .view select.colorPicker option[value='blue'] {
  color: blue;
}

.todo-list li .view select.colorPicker option[value='orange'] {
  color: orange;
}

.todo-list li .view select.colorPicker option[value='purple'] {
  color: purple;
}

.todo-list li .view select.colorPicker option[value='red'] {
  color: red;
}

.footer {
  display: flex;
  padding: 20px 15px;
  font-size: 15px;
  text-align: center;
  justify-content: space-between;
}

.actions {
  display: flex;
    flex-direction: column;
}
.actionBtn {
  background-color: #1976d2;
  padding: 4px 7px;
  color: #ffffff;
  font-weight: 800;
  border-radius: 4px;
  margin-top: 10px;
}

.actionBtn:focus {
  background-color: #0350BC;
}

.FilterColors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.colorInd{
  width: 24px;
  height: 14px;
  background-color: green;
  border-radius: 2px;
  margin-right: 10px;
  margin-left: 8px;
}

.colorLabel {
  margin-bottom: 0rem;
  font-size: 16px;
  font-weight: 500;
}

.FilterStatus {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.statusLabel {
  margin-bottom: 0rem;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}
